<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.motivationapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Motivol"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >
        <meta-data
            android:name="com.google.android.gms.ads.1:870741933410:android:49fc510f10c9b6c5"
            android:value="ca-app-pub-8448457760004752~4372397309"/>
        <activity android:name=".SignUpPage"></activity>
        <activity android:name=".LoginPage" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/WelcomeScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>